<body>
	<div class="body">
    	<div class="container">
        <p id="notice">signed out successfully.</p>
    		<div class="low">
    			<h1>welcome to<span class="glyphicon glyphicon-book" aria-hidden="true"></span><strong>Bookers</strong>!!</h1>
    		</div>
        </div>
    </div>
</body>
