<div class="container">
    <div class="row">
  <%= render 'books/list', book_images: @book_images, user: current_user, book: @book %>


  	<div class="col-xs-9">
      			<h2> Users</h2>
	      		  <table class="table table-hover table-inverse">
			        <thead>
				    	<tr>
				    		<th> image</th>
				    		<th> name</th>
				    	</tr>
				    </thead>
				    <% @users.each do |user| %>
				    <tbody>
				    	 <tr>
				    	 	<td><%= attachment_image_tag user, :profile_image,　format: 'jpeg', fallback: "no_image.jpg", :size =>"50x50" %></td>
				    	    <td><%= user.name %></td>
				    	    <td><%= link_to "show", user_path(user), class: "user_#{user.id}" %></td>
				    	 </tr>
				    </tbody>
				    <% end %>
			      </table>
			    </div>
		    </div>
		</div>
	</div>

</body>
